<!DOCTYPE html>
<html lang="br">
	<head>
		<meta charset="utf-8">
		<!--- BOOTSTRAP --->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!--- METADADOS INFORMATIVOS --->
		<meta property="author" content="{{ site.author.name }}">
		<meta property="reply-to" content="{{ site.author.email }}">
		<meta property="description" content="{{ site.description }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:locale" content="en_GB" />

		{% if page.twitter == "app" %}
		<meta name="twitter:card" content="app">
		<!-- <meta name="twitter:app:country" content="US"> -->
		<meta name="twitter:app:name:googleplay" content="{{ page.title }}">
		<meta name="twitter:app:id:googleplay" content="{{ page.google-play-id }}">
		<meta name="twitter:app:url:googleplay" content="{{ page.google-play }}">
		{% else %}
		<meta name="twitter:card" content="summary_large_image">
		{% endif %}

		<meta name="twitter:site" content="iagows.github.io">
		<meta name="twitter:creator" content="{{ site.author.name }}">
		<meta name="twitter:title" content="{{ page.title }}">

		{% if page.short-desc %}
		<meta property="og:description" content="{{ page.short-desc }}">
		<meta name="twitter:description" content="{{ page.short-desc }}">
		{% else %}
		<meta property="og:description" content="{{ site.description }}">
		<meta name="twitter:description" content="{{ site.description }}">
		{% endif %}
		{% if page.cover %}
		<meta property="og:image" itemprop="image" content="{{ site.url}}/img/{{ page.cover }}">
		<meta name="twitter:image" content="{{ site.url}}/img/{{ page.cover }}">
		{% else %}
		<meta property="og:image" itemprop="image" content="{{ site.url}}/android-chrome-512x512.png">
		<meta name="twitter:image" content="{{ site.url}}/android-chrome-512x512.png">
		{% endif %}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="{{ site.url }}/site.webmanifest">

		<link rel="stylesheet" href="{{ site.url}}/css/style.css">

		<title>{{ site.author.nickname }}</title>
	</head>
	<body class="d-flex flex-column">
		<button onclick="topFunction()" id="topBtn" title="Top">^</button>
		<header>
			<div class="jumbotron jumbotron-fluid outline carbon">
				<div class="container text-center">
					<h1>{{ page.title }}</h1>
					<p>{{ page.subtitle }}</p> 
				</div>
			</div>
			<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Navigation links -->
				<div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
					<ul class="navbar-nav">
						{% for p in site.data.pages %}
						<li class="nav-item {% if page.url == p.url %}active{% endif %}">
							{% if p.url contains "https" %}
							<a class="nav-link" href="{{ p.url }}" {% if p.new %} target="_blank" {% endif %}>{{ p.title }}</a>
							{% else %}
							<a class="nav-link" href="{{ site.url }}{{ p.url }}" {% if p.new %} target="_blank" {% endif %}>{{ p.title }}</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>
			</nav>	
		</header>
		<main role="main" class="container flex-fill text-center">
			{{ content }}
		</main>
		<footer class="footer bg-dark">
			<div class="container text-center">
				<span class="text-muted"><a href="http://www.wtfpl.net/" target="_blank"><img src="{{ site.url }}/img/cl.svg" alt="CopyLeft" width="20" /></a> 2020 - Não nos responsabilizamos pelo conteúdo de sites de terceiros.</span>
				<p><small class="text-muted">Last site update: {{ site.time }}.</small></p>
			</div>
		</footer>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ site.url}}/scripts/iagows.js"></script>
	</body>
</html>